# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
    -   id: check-verbose
        name: check VERBOSE = 1
        entry: python -m exdrf_util.check_verbose --fix
        language: system
        types: [python]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-docstring-first
    -   id: check-json
        exclude: launch\.json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
    -   id: debug-statements
    -   id: destroyed-symlinks
    -   id: check-illegal-windows-names
    -   id: check-vcs-permalinks
    -   id: mixed-line-ending
    -   id: check-merge-conflict
    -   id: name-tests-test
    -   id: check-added-large-files
    -   id: fix-byte-order-marker
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: detect-private-key
-   repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
    -   id: black
        language_version: python3
        args: [--line-length, "80", --target-version, py33]
-   repo: https://github.com/PyCQA/flake8
    rev: 7.2.0
    hooks:
    -   id: flake8
        args: [--max-line-length=120]
