<?xml version="1.0" encoding="UTF-8"?>
<ui version="4.0">
 <class>Qt{{ ResPascal }}Editor</class>
 <widget class="QWidget" name="Qt{{ ResPascal }}Editor">
  <property name="geometry">
   <rect>
    <x>0</x>
    <y>0</y>
    <width>480</width>
    <height>640</height>
   </rect>
  </property>
  <property name="windowTitle">
   <string>{{ ResText }} Editor</string>
  </property>
  <layout class="QVBoxLayout" name="verticalLayout">
   <item>
    <widget class="QTabWidget" name="main_tab">
     <property name="currentIndex">
      <number>0</number>
     </property>
     {# Exclude fields that are foreign keys to other resources because
      # there is a relation that uses that foreign key and that will be
      # used to edit the items.
      #}
     {% for c_name, c_fields in r.sorted_fields_and_categories(exclude_derived=True, exclude_fk_to=True).items() %}
     <widget class="QWidget" name="tab_{{ c_name if c_name else "general" }}">
      <attribute name="title">
       <string>{{ (c_name if c_name else "general")| title }}</string>
      </attribute>
      <layout class="QFormLayout" name="formLayout">
     {%- for f_i, field in enumerate(sorted_fields_for_ui(dset, r, c_fields)) %}
       {#
        # This is the label for the field.
        #}
       <item row="{{ f_i }}" column="0">
        <widget class="QLabel" name="lbl_{{ field.name }}">
         <property name="text">
          <string>{{ field.title }} </string>
         </property>
         <property name="buddy">
          <cstring>c_{{ field.name }}</cstring>
         </property>
         {%- if field.read_only %}
         <property name="enabled" stdset="0">
          <bool>false</bool>
         </property>
         {%- endif %}{# if field.read_only #}
        </widget>
       </item>
       {#
        # This is the widget for the field.
        #}
       <item row="{{ f_i }}" column="1">
        {#
         # The keys of read_only_fields indicates which field names are read-only.
         # The name may include a single dot, with first part representing the
         # resource name and the second part representing the field name. If
         # the dot is not present, the field is matched by name across all
         # resources. The name can also include the type of the related
         # resource after the name so the full spec for name is:
         #     resource.field:related_resource
         #
         # get_read_only_field_data parses this string and returns the
         # read-only fields for the current resource.
         #
         # The value is a dictionary that indicate how to deal with the field.
         # We use ui_xml here, which contains the XML for the field in the .ui
         # file of the editor; by default a line edit is created with readOnly
         # set to true.
         #}
        {%- set read_only_data = get_read_only_field_data(field) %}
        {%- if read_only_data is not None %}
        {%- if read_only_data.get("ui_xml", None) %}
        {{ read_only_data["ui_xml"].format(field=field.name) }}
        {%- else %}{# if read_only_data.get("ui_xml", None) #}
        <widget class="QLineEdit" name="c_{{ field.name }}">
         <property name="readOnly">
          <bool>true</bool>
         </property>
        </widget>
        {%- endif %}{# if read_only_data.get("ui_xml", None) #}
        {%- else %}{#  not a read-only field  #}
        {#
         # base_ui_class is a function that retrieves the base UI class for a
         # field. The default function is defined in
         # exdrf_gen_al2qt.creator.d_base_ui_class
         #}
        <widget class="{{ base_ui_class(field) }}" name="c_{{ field.name }}">
         <property name="name" stdset="0">
          <string notr="true">{{ field.name }}</string>
         </property>
         {%- if field.type_name == 'enum' or field.enum_values %}
         <property name="choices" stdset="0">
          <string notr="true">{{ enum_v2p(field.enum_values) }}</string>
         </property>
         {%- endif %}{# if field.type_name == 'enum' #}
         {%- if field.nullable %}
         <property name="clearable" stdset="0">
          <bool>true</bool>
         </property>
         {%- endif %}{# if field.nullable #}
         {%- if field.read_only %}
         <property name="modifiable" stdset="0">
          <bool>false</bool>
         </property>
         {%- endif %}{# if field.read_only #}
         {%- if field.provides %}
         <property name="provides" stdset="0">
          <string notr="true">{{ ",".join(field.provides) }}</string>
         </property>
         {%- endif %}{# if field.provides #}
         {%- if field.depends_on %}
         <property name="depends_on" stdset="0">
          <string notr="true">{{ field.depends_on | map('join', ':') | join(',') }}</string>
         </property>
         {%- endif %}{# if field.depends_on #}
        </widget>
        {%- endif %}{# if len(read_only_data) #}
       </item>
     {% endfor %}
      </layout>
     </widget>
     {% endfor %}
    </widget>
   </item>
  </layout>
 </widget>
 <customwidgets>
 {%- set seen_widgets = set() %}
 {%- for field in r.sorted_fields %}
  {%- set read_only_data = get_read_only_field_data(field) or {} %}
  {%- set b_ui = read_only_data.get("custom_ui_xml", base_ui_class(field)) %}
  {%- if b_ui not in seen_widgets %}
  <customwidget>
    <class>{{ b_ui }}</class>
    <extends>QLineEdit</extends>
    {%- if read_only_data.get("custom_header", None) %}
    <header>{{ read_only_data["custom_header"] }}</header>
    {%- elif field.is_ref_type %}
    <header>{{ out_module }}.{{ field.ref.categories[0] }}.{{ field.ref.snake_case_name_plural }}.api</header>
    {%- else %}
    <header>exdrf_qt.field_ed.api</header>
    {%- endif %}
  </customwidget>
  {%- set _ = seen_widgets.add(b_ui) %}
  {%- endif %} {# if b_ui not in seen_widgets #}
 {%- endfor %} {# for field in r.sorted_fields #}
 </customwidgets>
 <resources/>
 <connections/>
</ui>
