import logging
from typing import TYPE_CHECKING, Any, Callable, Union

from exdrf.constants import RecIdType
from exdrf.field_types.api import (
    IntField,
    FloatField,
    StrField,
    BoolField,
    DateField,
    DateTimeField,
    TimeField,
    EnumField,
    RefOneToOneField,
    RefOneToManyField,
    RefManyToManyField,
    RefManyToOneField,
)
from exdrf_qt.controls.templ_viewer.templ_viewer import RecordTemplViewer
from exdrf_qt.controls.templ_viewer.view_page import WebEnginePage
from exdrf_qt.plugins import exdrf_qt_pm
from exdrf_qt.utils.plugins import safe_hook_call
from sqlalchemy import Select, select

# exdrf-keep-start other_imports -----------------------------------------------
{{other_imports}}
# exdrf-keep-end other_imports -------------------------------------------------

if TYPE_CHECKING:
    from exdrf_qt.context import QtContext  # noqa: F401
    from {{ db_module }}.{{ r.categories[0] }}.api import {{ r.name }} as {{ r.name }}  # noqa: F401
    from sqlalchemy.orm import Session  # noqa: F401

logger = logging.getLogger(__name__)

# exdrf-keep-start other_globals -----------------------------------------------
{{other_globals}}
# exdrf-keep-end other_globals -------------------------------------------------


class Qt{{ ResPascal }}Tv(RecordTemplViewer):
    """Template viewer for a {{ ResPascal }} database record.
    """
    # exdrf-keep-start other_attributes ----------------------------------------
{{other_attributes}}
    # exdrf-keep-end other_attributes ------------------------------------------

    def __init__(self, ctx: "QtContext", **kwargs):
        from {{ db_module }}.{{ r.categories[0] }}.api import {{ r.name }} as Db{{ r.name }}
        from {{ out_module }}.{{ r.categories[0] }}.{{ r.snake_case_name_plural }}.widgets.{{ res_snake }}_editor import (
            Qt{{ ResPascal }}Editor,
        )

        super().__init__(
            db_model=kwargs.pop("db_model", ctx.get_ovr(
                "{{ out_module }}.{{ r.categories[0] }}.{{ res_p_snake }}.tv.model",
                Db{{ ResPascal }},
            )),
            template_src=kwargs.pop("template_src", ctx.get_ovr(
                "{{ out_module }}.{{ r.categories[0] }}.{{ res_p_snake }}.tv.template",
                "{{ out_module }}/{{ r.categories[0] }}/{{ res_p_snake }}/widgets/{{ res_snake }}_tv.html"
            )),
            page_class=ctx.get_ovr(
                "{{ out_module }}.{{ r.categories[0] }}.{{ res_p_snake }}.tv.page_class",
                ctx.get_ovr(
                    "tv.page_class",
                    WebEnginePage,
                )
            ),
            other_actions=kwargs.pop("other_actions", ctx.get_ovr(
                "{{ out_module }}.{{ r.categories[0] }}.{{ res_p_snake }}.tv.extra-menus",
                None
            )),
            ctx=ctx,
            editor_ctor=ctx.get_ovr(
                "{{ out_module }}.{{ r.categories[0] }}.{{ res_p_snake }}.tv.editor_class",
                Qt{{ ResPascal }}Editor
            ),
            **kwargs
        )
        if not self.windowTitle():
            self.setWindowTitle(
                self.t(
                    "{{ res_snake }}.tv.title",
                    "{{ r.text_name }} viewer"
                ),
            )

        # exdrf-keep-start extra_viewer_init -----------------------------------
{{extra_viewer_init}}
        # exdrf-keep-end extra_viewer_init -------------------------------------

        # Inform plugins that the viewer has been created.
        safe_hook_call(
            exdrf_qt_pm.hook.{{ res_snake }}_tv_created,
            widget=self
        )

    def read_record(
        self,
        session: "Session"
    ) -> Union[None, "{{ ResPascal }}"]:
        from {{ util_module }}.{{ r.categories[0] }}.{{ res_snake }} import {{ res_snake }}_label

        result = session.scalar(
            select(self.db_model).where(
                {%- if res_spl_id %}
                self.db_model.{{ res_primaries[0] }} == self.record_id,  # type: ignore
                {%- else %}
                {%- for itr, prm in enumerate(res_primaries) %}
                self.db_model.{{ prm }} == self.record_id[{{ itr }}],  # type: ignore
                {%- endfor %}
                {%- endif %}
            )
        )

        if result is None:
            label =self.t(
                "{{ res_snake }}.tv.title-not-found",
                f"{{ r.text_name }} - record {self.record_id} not found"
            )
            return None
        else:
            try:
                label = self.t(
                    "{{ res_snake }}.tv.title-found",
                    "{{ r.text_name }}: view {name}",
                    name={{ res_snake }}_label(result)
                )
            except Exception as e:
                logger.error("Error getting label: %s", e, exc_info=True)
                label = "{{ r.text_name }} viewer"

        self.ctx.set_window_title(self, label)
        return result

    def _populate_from_record(self, record: "{{ ResPascal }}"):
        self.model.var_bag.add_fields([
        {%- for field in sorted_fields_for_ui(dset, r, fields) %}
        {%- if not field.__class__.__name__ in ('BlobField', 'FormattedField', 'FilterField', 'SortField') %}
            (
                {{ field.__class__.__name__ }}(
                    name="{{ field.name }}",
                    title=self.t(
                        "{{ res_snake }}.tv.{{ field.name }}.t",
                        "{{ field.title }}"
                    ),
                    {%- if field.description %}
                    description=self.t(
                        "{{ res_snake }}.tv.{{ field.name }}.d",
                        {%- for line in field.doc_lines %}
                        "{{ line }}"
                        {%- endfor %}
                    ),
                    {%- endif %}
                ),
                record.{{ field.name }},
            ),
        {%- endif %}
        {%- endfor %}
        ])

    def get_db_item_id(self, record: "{{ ResPascal }}") -> RecIdType:
        {%- if res_spl_id %}
        return record.{{ res_primaries[0] }}
        {%- else %}
        return (
            {%- for prm in res_primaries %}
            record.{{ prm }},
            {%- endfor %}
        )
        {%- endif %}

    def get_current_record_selector(self) -> Union[None, "Select"]:
        if self.record_id is None:
            return None
        {%- if res_spl_id %}
        return select(self.db_model).where(
            self.db_model.{{ res_primaries[0] }} == self.record_id,  # type: ignore
        )
        {%- else %}
        return select(self.db_model).where(
            {%- for field in res_primaries %}
            self.db_model.{{ field }} == self.record_id[{{ loop.index0 }}],  # type: ignore
            {%- endfor %}
        )
        {%- endif %}

    def get_deletion_function(self) -> Union[
        None, Callable[[Any, "Session"], bool]
    ]:
        {%- if 'deleted' in r %}
        from exdrf_qt.utils.router import default_del_record

        return default_del_record
        {%- else %}
        from exdrf_qt.utils.router import session_del_record

        return session_del_record
        {%- endif %}
    
    # exdrf-keep-start extra_viewer_content ------------------------------------
{{extra_viewer_content}}
    # exdrf-keep-end extra_viewer_content --------------------------------------


# exdrf-keep-start more_content ------------------------------------------------
{{more_content}}
# exdrf-keep-end more_content --------------------------------------------------
{{- "\n" -}}
