<h1>RelatedItem</h1>
<table>
    <tr>
        <td>comp_key_owner</td>
        <td>{{ record.comp_key_owner }}</td>
    </tr>
    <tr>
        <td>comp_key_part1</td>
        <td>{{ record.comp_key_part1 }}</td>
    </tr>
    <tr>
        <td>comp_key_part2</td>
        <td>{{ record.comp_key_part2 }}</td>
    </tr>
    <tr>
        <td>item_data</td>
        <td>{{ record.item_data }}</td>
    </tr>
    <tr>
        <td>some_int</td>
        <td>{{ record.some_int }}</td>
    </tr>
    <tr>
        <td>id</td>
        <td>{{ record.id }}</td>
    </tr>
</table>
