<h1>CompositeKeyModel</h1>
<table>
    <tr>
        <td>description</td>
        <td>{{ record.description }}</td>
    </tr>
    <tr>
        <td>related_items</td>
        <td>{{ record.related_items }}</td>
    </tr>
    <tr>
        <td>some_binary</td>
        <td>{{ record.some_binary }}</td>
    </tr>
    <tr>
        <td>some_date</td>
        <td>{{ record.some_date }}</td>
    </tr>
    <tr>
        <td>some_enum</td>
        <td>{{ record.some_enum }}</td>
    </tr>
    <tr>
        <td>some_float</td>
        <td>{{ record.some_float }}</td>
    </tr>
    <tr>
        <td>some_json</td>
        <td>{{ record.some_json }}</td>
    </tr>
    <tr>
        <td>some_time</td>
        <td>{{ record.some_time }}</td>
    </tr>
    <tr>
        <td>key_part1</td>
        <td>{{ record.key_part1 }}</td>
    </tr>
    <tr>
        <td>key_part2</td>
        <td>{{ record.key_part2 }}</td>
    </tr>
</table>
