<h1>ParentTagAssociation</h1>
<table>
    <tr>
        <td>parent_id</td>
        <td>{{ record.parent_id }}</td>
    </tr>
    <tr>
        <td>tag_id</td>
        <td>{{ record.tag_id }}</td>
    </tr>
</table>
