<h1>Profile</h1>
<table>
    <tr>
        <td>bio</td>
        <td>{{ record.bio }}</td>
    </tr>
    <tr>
        <td>parent</td>
        <td>{{ record.parent }}</td>
    </tr>
    <tr>
        <td>parent_id</td>
        <td>{{ record.parent_id }}</td>
    </tr>
    <tr>
        <td>id</td>
        <td>{{ record.id }}</td>
    </tr>
</table>
