<h1>Parent</h1>
<table>
    <tr>
        <td>children</td>
        <td>{{ record.children }}</td>
    </tr>
    <tr>
        <td>created_at</td>
        <td>{{ record.created_at }}</td>
    </tr>
    <tr>
        <td>is_active</td>
        <td>{{ record.is_active }}</td>
    </tr>
    <tr>
        <td>name</td>
        <td>{{ record.name }}</td>
    </tr>
    <tr>
        <td>profile</td>
        <td>{{ record.profile }}</td>
    </tr>
    <tr>
        <td>tags</td>
        <td>{{ record.tags }}</td>
    </tr>
    <tr>
        <td>id</td>
        <td>{{ record.id }}</td>
    </tr>
</table>
